{% extends "dashboard.html" %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='dist/output.css') }}"
/>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename=';.ico') }}">


<h1 class="text-3xl font-bold mb-6 text-center text-[#c1e328]">
  All Bookmarks
</h1>

<section class="mt-12 w-full flex flex-col items-center">
  <div class="w-full max-w-6xl flex items-center justify-between px-4 mb-8">
    <h2 class="text-3xl font-bold text-lime-400 flex-1">Your Bookmarks</h2>
    <button
      onclick="openAddModal()"
      class="px-4 py-2 border border-[#b4ff39] text-[#b4ff39] rounded-lg transition-all duration-200 hover:bg-[#b4ff39] hover:text-black neon-hover flex items-center gap-2"
    >
      <i data-feather="plus"></i> Add Bookmark
    </button>

    <a
      href="{{ url_for('bookmarks_api.export_bookmarks') }}"
      class="ml-2 px-4 py-2 border border-[#b4ff39] text-[#b4ff39] rounded-lg transition-all duration-200 hover:bg-[#b4ff39] hover:text-black neon-hover flex items-center gap-2"
    >
      Export
    </a>
  </div>

<!-- Search Bar -->
<form method="GET" action="{{ url_for('bookmarks_api.list_bookmarks') }}" class="w-full max-w-6xl px-4 mb-6">
  <div class="flex items-center bg-[#1A1A1A] rounded-xl border border-[#2A2A2A] px-4 py-3 gap-4">

    <i class="fa-solid fa-magnifying-glass text-[#b4ff39] text-xl mr-6"></i>

    <input type="text" name="q" placeholder="Search bookmarks..." value="{{ request.args.get('q', '') }}"
      class="w-full bg-transparent text-gray-300 outline-none placeholder-gray-500 text-lg focus:outline-none" />

    {% if request.args.get('q') %}
    <a href="{{ url_for('bookmarks_api.list_bookmarks') }}" class="text-gray-400 hover:text-red-400 ml-3">
      <i class="fa-solid fa-xmark text-xl"></i>
    </a>
    {% endif %}
  </div>
</form>

  {% if bookmarks %}

  <div class="w-full max-w-6xl space-y-6 px-4">
    {% for b in bookmarks %}
    <div
      class="  bg-[#1A1A1A] w-full bg-[#111] border border-[#1f1f1f] hover:border-[#c1e328]/60 hover:shadow-[0_0_15px_rgba(193,227,40,0.15)] transition-all duration-300 rounded-2xl p-6 cursor-pointer backdrop-blur-sm"
    >
      <div class="flex items-center justify-between">
        <!-- Title -->
        <h2 class="text-3xl font-semibold text-white flex-1">
          {{ b.title or "Untitled" }}
        </h2>

        <!-- Action Buttons -->
        <div class="flex items-center gap-4 ml-4">
          <!-- QR Code Button -->
          <button
            class="hover:text-[#b4ff39] transition"
            title="Show QR Code"
            onclick="event.stopPropagation(); showQR({{ b.id }})"
          >
            <i class="fa-solid fa-qrcode text-[#b4ff39] text-2xl"></i>
          </button>

          <!-- Archive Toggle Button -->
          <button
            title="Toggle Archive"
            class="hover:text-[#b4ff39] transition hover:cursor-pointer  hover:text-[#b4ff39]"
            onclick="event.stopPropagation(); toggleArchive({{ b.id }}, {{ 'true' if b.archived else 'false' }})"
          >
            {% if b.archived %}
            <i class="fa-solid fa-box-open text-yellow-400 text-2xl hover:text-[#b4ff39] hover:cursor-pointer"></i>
            <!-- unarchive icon -->
            {% else %}
            <i class="fa-solid fa-archive text-gray-400 text-2xl hover:text-[#b4ff39] hover:cursor-pointer"></i>
            <!-- archive icon -->
            {% endif %}
          </button>
        </div>
      </div>

      <div class="flex flex-row justify-between items-start">
        <div>
          <div class="flex flex-col">
            <a
              href="{{ http_url(b.url) }}"
              target="_blank"
              class="text-gray-400 text-xl break-all hover:text-[#c1e328] transition mt-3"
              onclick="event.stopPropagation()"
            >
              🔗{{ b.url }}
            </a>
            <a
              href="{{ short_http_url(b.short_url) }}"
              target="_blank"
              class="text-gray-500 text-xl hover:text-[#c1e328] mt-3"
              onclick="event.stopPropagation()"
            >
              🔗 {{ b.short_url }}
            </a>
          </div>
          <div>
            <p class="text-gray-300 text-base mt-2">
              Notes: {{ b.notes or "No notes added." }}
            </p>
          </div>
          <div class="flex flex-wrap gap-2 mt-3">
            {% for tag in b.tags %}
            <span
              class="bg-[#263a19] text-[#b4ff39] px-3 py-1 text-sm rounded-full"
            >
              {{ tag }}
            </span>
            {% endfor %}
          </div>
        </div>
        <div class="flex gap-4 text-gray-400 align-bottom ml-auto mt-3">
          <button
            title="Edit"
            class="hover:text-[#b4ff39]"
            onclick="event.stopPropagation(); openEditModal({{ b.id }})"
          >
            <i data-feather="edit-2"></i>
          </button>
          <button
            title="Delete"
            class="hover:text-red-500"
            onclick="event.stopPropagation(); openDeleteModal({{ b.id }})"
          >
            <i data-feather="trash-2"></i>
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-gray-400 text-center mt-6">No bookmarks found.</p>
  {% endif %}
</section>

{% if total_pages > 1 %}
<div class="flex justify-center items-center gap-3 mt-8">
  {% if page > 1 %}
  <a
    href="{{ url_for('bookmarks_api.dashboard2', page=page-1) }}"
    class="text-[#c1e328]"
  >
    <i data-feather="chevron-left"></i>
  </a>
  {% endif %} {% for p in range(1, total_pages + 1) %} {% if p == page %}
  <span class="px-3 py-1 bg-[#c1e328] text-black font-semibold rounded-lg"
    >{{ p }}</span
  >
  {% else %}
  <a
    href="{{ url_for('bookmarks_api.dashboard2', page=p) }}"
    class="px-3 py-1 bg-[#1A1A1A] border border-[#2A2A2A] rounded-lg hover:border-[#c1e328] text-[#c1e328]"
  >
    {{ p }}
  </a>
  {% endif %} {% endfor %} {% if page < total_pages %}
  <a
    href="{{ url_for('bookmarks_api.dashboard2', page=page+1) }}"
    class="text-[#c1e328]"
  >
    <i data-feather="chevron-right"></i>
  </a>
  {% endif %}
</div>
{% endif %}

<!-- QR MODAL  -->
<div
  id="qrImage"
  class="fixed inset-0 bg-black/60 hidden backdrop-blur-md flex items-center justify-center z-50 transition"
>
  <div
    class="bg-[#1a1a1a]/90 border border-[#333] shadow-2xl shadow-black/40 rounded-2xl p-8 w-[30%] max-w-md relative animate-[fadeIn_0.25s_ease-out]"
    onclick="event.stopPropagation()"
  >
    <!-- Close Button -->
    <button
      class="absolute top-4 right-4 text-gray-400 hover:text-red-500 transition transform hover:scale-110"
      title="close"
      onclick="closeQR()"
    >
      <i data-feather="x"></i>
    </button>

    <!-- Content -->
    <div class="flex flex-col items-center gap-6">
      <!-- Title -->
      <p
        id="qrTitle"
        class="text-xl font-semibold text-white text-center tracking-wide"
      ></p>

      <!-- QR Box -->
      <div class="flex flex-col items-center gap-1">
        <div
          id="qrCodeContainer"
          class="bg-white rounded-xl p-3 shadow-lg shadow-black/50"
        ></div>

        <!-- URL -->
        <p
          id="qrURL"
          class="text-gray-400 text-sm break-all text-center max-w-xs"
        ></p>
      </div>

      <!-- Scan Text -->
      <p class="text-gray-500 text-sm italic">
        Scan with your mobile camera to open
      </p>
    </div>
  </div>
</div>

<!-- delete modal -->
<div
  id="deleteModal"
  class="fixed inset-0 bg-black/60 hidden backdrop-blur-md flex items-center justify-center z-50 transition"
>
  <div
    class="bg-[#1a1a1a]/90 border border-[#333] shadow-2xl shadow-black/40 rounded-2xl p-8 w-[30%] max-w-md relative animate-[fadeIn_0.25s_ease-out]"
    onclick="event.stopPropagation()"
  >
    <div>
      <!-- icon -->
      <div class="flex justify-center items-center mb-4">
        <!-- Warning circle icon -->
        <i data-feather="alert-circle" class="text-red-600 w-20 h-20"></i>
      </div>

      <!-- big message -->
      <div>
        <h2 class="text-2xl font-bold text-white text-center">Are you sure?</h2>
      </div>

      <!-- small info message -->
      <div>
        <p class="text-gray-400 text-center mt-2">
          This action cannot be undone. This will permanently delete the
          bookmark.
        </p>
      </div>

      <!--2 buttons -->
      <div class="flex justify-center gap-4 mt-6">
        <button
          class="px-6 py-2 bg-gray-600 text-white rounded-xs hover:bg-gray-700 transition"
          onclick="closeDeleteModal()"
        >
          Cancel
        </button>
        <button
        id="deleteConfirmBtn"
          class="px-6 py-2 bg-red-600 text-white rounded-xs hover:bg-red-700 transition cursor-pointer"
          onclick="confirmDelete()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- edit modal -->
<div
  id="editModal"
  class="fixed inset-0 bg-black/60 hidden backdrop-blur-md flex items-center justify-center z-50 transition"
  onclick="if(event.target.id === 'editModal') closeEditModal()"
>
  <div
    class="bg-[#1a1a1a]/90 border border-[#333] shadow-2xl shadow-black/40 rounded-2xl p-8 w-[30%] max-w-md relative animate-[fadeIn_0.25s_ease-out]"
    onclick="event.stopPropagation()"
  >
    <!-- Close Button -->
    <button
      class="absolute top-4 right-4 text-gray-400 hover:text-red-500 transition transform hover:scale-110"
      title="close"
      onclick="closeEditModal()"
    >
      <i data-feather="x"></i>
    </button>

    <!-- Content -->
    <div class="flex flex-col items-center gap-6 text-white">
      <!-- header -->
      <h1 class="text-xl">Edit Bookmark</h1>

      <form id="editForm" onsubmit="updateBookmark(event)">
        <label>Title</label>
        <input
          type="text"
          id="editTitle"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
        />

        <label>Notes</label>
        <textarea
          id="editNotes"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
          rows="4"
        ></textarea>

        <label class="block text-sm font-medium mb-1"
          >Tags (comma-separated)</label
        >
        <input
          type="text"
          id="editTags"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
        />

        <label>Archive Status</label>
        <select
          id="editArchive"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
        >
          <option value="false">Active</option>
          <option value="true">Archived</option>
        </select>

        <button
          type="submit" id="editSubmitBtn"
          class="w-full bg-[#c1e328] text-black font-semibold py-2 rounded-lg hover:bg-[#a4c120] transition cursor-pointer"
        >
          Save Changes
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Add Bookmark Modal -->
<div
  id="addModal"
  class="fixed inset-0 bg-black/60 hidden backdrop-blur-md flex items-center justify-center z-50 transition"
  onclick="if(event.target.id === 'addModal') closeAddModal()"
>
  <div
    class="bg-[#1a1a1a]/90 border border-[#333] shadow-2xl shadow-black/40 rounded-2xl p-8 w-[35%] max-w-lg relative animate-[fadeIn_0.25s_ease-out]"
    onclick="event.stopPropagation()"
  >
    <button
      class="absolute top-4 right-4 text-gray-400 hover:text-red-500 transition transform hover:scale-110"
      title="close"
      onclick="closeAddModal()"
    >
      <i data-feather="x"></i>
    </button>

    <div class="flex flex-col gap-6 text-white">
      <h1 class="text-2xl font-bold text-[#c1e328] text-center">
        Add New Bookmark
      </h1>

      <form id="addForm" onsubmit="createBookmark(event)">
        <label class="block text-sm font-medium mb-1">URL *</label>
        <input
          type="url"
          id="addUrl"
          required
          placeholder="https://example.com"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
        />

        <label class="block text-sm font-medium mb-1">Title (optional)</label>
        <input
          type="text"
          id="addTitle"
          placeholder="Leave empty to auto-extract"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
        />

        <label class="block text-sm font-medium mb-1">Notes</label>
        <textarea
          id="addNotes"
          placeholder="Add any notes..."
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
          rows="3"
        ></textarea>

        <label class="block text-sm font-medium mb-1"
          >Tags (comma-separated)</label
        >
        <input
          type="text"
          id="addTags"
          placeholder="python, web, tutorial"
          class="w-full px-3 py-2 mb-4 rounded-lg bg-[#222] border border-[#444] text-white focus:outline-none focus:border-[#c1e328]"
        />

        <button id="addSubmitBtn" type="submit"
          class="w-full bg-[#c1e328] text-black font-semibold py-3 rounded-lg hover:bg-[#a4c120] transition cursor-pointer">
          Create Bookmark
        </button>

      </form>
    </div>
  </div>
</div>

<script>
  const USER_ID = {{ user_id }};

  // show qr code modal
  async function showQR(id) {
      try {
        const response = await fetch(`/api/bookmarks/${id}/qr`);

        if (!response.ok) {
          const error = await response.json();
          alert(error.error || 'Failed to generate QR code');
          return;
        }

        const data = await response.json();

        document.getElementById("qrCodeContainer").innerHTML =
          `<img src="${data.qr_data_uri}" class="rounded-lg" alt="QR Code for ${data.qr_title}" />`;

        document.getElementById("qrTitle").textContent = data.qr_title;
        document.getElementById("qrURL").textContent = data.qr_url;
        document.getElementById("qrImage").classList.remove("hidden");

      } catch (err) {
        alert("Error generating QR code: " + err.message);
      }
    }

  function closeQR() {
    document.getElementById("qrImage").classList.add("hidden");
  }

  feather.replace();

  // delete modal
  let bookmarkIdToDelete = null;
  function openDeleteModal(id) {
    bookmarkIdToDelete = id;
    document.getElementById("deleteModal").classList.remove("hidden");
  }

  function closeDeleteModal() {
    bookmarkIdToDelete = null;
    document.getElementById("deleteModal").classList.add("hidden");
  }

  async function confirmDelete() {
    const btn = document.getElementById("deleteConfirmBtn");
    btn.disabled = true;
    btn.textContent = "Deleting...";
    if (bookmarkIdToDelete) {
      const response = await fetch(`/api/bookmarks/${bookmarkIdToDelete}?user_id=${USER_ID}`, {
        method: "DELETE",
      });

      if (response.ok) {
        closeDeleteModal();
        location.reload();
      } else {
        alert("Failed to delete the bookmark.");
      }
    }
    btn.disabled = false;
    btn.textContent = "Delete";
  }

  function openAddModal(id) {
    document.getElementById("addModal").classList.remove("hidden");
  }

  function closeAddModal() {
    document.getElementById("addModal").classList.add("hidden");
    document.getElementById("addForm").reset();
  }

  async function createBookmark(event) {
    event.preventDefault();

    const btn = document.getElementById("addSubmitBtn");
    btn.disabled = true;
    btn.textContent = "Creating...";

    const url = document.getElementById("addUrl").value;
    const title = document.getElementById("addTitle").value;
    const notes = document.getElementById("addNotes").value;
    const tagsInput = document.getElementById("addTags").value;

    const tags = tagsInput
      .split(",")
      .map((t) => t.trim())
      .filter((t) => t.length > 0);

    const data = {
      url: url,
      user_id: USER_ID,
      title: title.trim(),
      notes: notes || "",
      tags: tags,
      archived: false
    };

    try {
      const response = await fetch("/api/bookmarks", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      });

      if (response.ok) {
        closeAddModal();
        location.reload();
      } else {
        const error = await response.json();
        alert(error.error || "Failed to create bookmark.");
      }
    } catch (err) {
      alert("Error creating bookmark: " + err.message);
    } finally {
      btn.disabled = false;
      btn.textContent = "Create Bookmark";
    }
  }

  // edit modal
    let currentEditId = null;

  async function openEditModal(id) {
      currentEditId = id;
      document.getElementById("editModal").classList.remove("hidden");

      const response = await fetch(`/api/bookmarks/${id}?user_id=${USER_ID}`);
      const bookmark = await response.json();

      console.log("Bookmark fetched:", bookmark);

      document.getElementById("editTitle").value = bookmark.title;
      document.getElementById("editNotes").value = bookmark.notes;
      document.getElementById("editTags").value = bookmark.tags.join(", ");
      document.getElementById("editArchive").value = bookmark.archived.toString();

    }

    function closeEditModal() {
      currentEditId = null;
      document.getElementById("editModal").classList.add("hidden");
      document.getElementById("editForm").reset();
    }

    async function updateBookmark(event) {
      event.preventDefault();

      const btn = document.getElementById("editSubmitBtn");
      btn.disabled = true;
      btn.textContent = "Saving...";

      if (!currentEditId) return;

      const title = document.getElementById("editTitle").value;
      const notes = document.getElementById("editNotes").value;
      const tagsInput = document.getElementById("editTags").value;
      const archived = document.getElementById("editArchive").value === "true";

      const tags = tagsInput
        .split(",")
        .map((t) => t.trim())
        .filter((t) => t.length > 0);

      const data = {
        user_id: USER_ID,
        title: title || null,
        notes: notes || "",
        tags: tags,
        archived: archived
      };

      try {
        const response = await fetch(`/api/bookmarks/${currentEditId}`, {
          method: "PUT",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        });

        if (response.ok) {
          closeEditModal();
          location.reload();
        } else {
          const error = await response.json();
          alert(error.error || "Failed to update bookmark.");
        }
      } catch (err) {
        alert("Error updating bookmark: " + err.message);
      } finally {
        btn.disabled = false;
        btn.textContent = "Save Changes";
      }
    }

    async function toggleArchive(id, currentStatus){
      const newStatus = !currentStatus;

      try{
        const response = await fetch(`/api/bookmarks/${id}/archive?user_id=${USER_ID}`,{
          method: "PATCH",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ archived: newStatus }),
        });

        if (response.ok){
          location.reload();
        } else {
          const error = await response.json();
          alert(error.error || "Failed to toggle archive status.");
        }
      } catch (err){
        alert("Error toggling archive status: " + err.message);

      }
    }
</script>
{% endblock %}
