<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Vault</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
    <link
      rel="stylesheet"
      href="{{url_for('static' ,filename='dist/output.css')}}"
    />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body class="bg-[#0A0A0A]">
    <!-- nav bar -->
    {% include 'partials/navbar.html' %}

    <div class="p-6 ">{% block content %}{% endblock %}</div>

    <script>
      feather.replace();

      const menuBtn = document.getElementById("menu-btn");
      const closeBtn = document.getElementById("close-btn");
      const sidebar = document.getElementById("sidebar");
      const overlay = document.getElementById("overlay");

      // Open sidebar
      menuBtn.addEventListener("click", () => {
        sidebar.classList.remove("-translate-x-full");
        overlay.classList.remove("hidden");
      });

      // Close sidebar (via close button)
      closeBtn.addEventListener("click", () => {
        sidebar.classList.add("-translate-x-full");
        overlay.classList.add("hidden");
      });

      // Close sidebar when clicking outside (overlay)
      overlay.addEventListener("click", () => {
        sidebar.classList.add("-translate-x-full");
        overlay.classList.add("hidden");
      });
    </script>
  </body>
</html>
