{% extends "base.html" %}
{% block title %}Dashboard • LinkVault{% endblock %}

{% block content %}

<h1>Welcome, {{ current_user.username }}!</h1>
<p>Your secure bookmark vault is ready.</p>

<div style="text-align:center; margin: 40px 0;">
    <a href="{{ url_for('bookmarks_api.list_bookmarks') }}" class="button" style="display:inline-block; padding:15px 30px; background:#c1e328; color:black; text-decoration:none; border-radius:10px; font-weight:bold;">
        View My Bookmarks
    </a>
    
</div>

{% if top_tags %}
<div style="margin-top:50px;">
    <h3>Top Tags</h3>
    <div class="tags">
        {% for tag_name, count in top_tags %}
            <span class="tag">{{ tag_name }} ({{ count }})</span>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}